@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
}

$font-poppins: Poppins;

$color-violet: #331165;
$color-submit: rgb(156, 156, 232);
$color-white: #ffffff;
$font-color-black: #303030;
$color-dark-grey: #455163;
$color-yellow: #fab700;
$color-light-grey :#1f2022;
$color-very-light-grey: #f8fafb;

$font-size-S: 10px;
$font-size-M: 20px;
$font-size-L: 32px;
